# Ejercicio - Busqueda de Alojamiento en Airbnb.

Supongamos que somos un agente de [Airbnb](http://www.airbnb.com) localizado en Lisboa, y tenemos que atender peticiones de varios clientes. Tenemos un archivo llamado `airbnb.csv` (en la carpeta data) donde tenemos información de todos los alojamientos de Airbnb en Lisboa.

Requirement already satisfied: pandas in /home/codespace/.local/lib/python3.10/site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.22.4 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/codespace/.local/lib/python3.10/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /home/codespace/.local/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
df_airbnb = pd.read_csv("./data/airbnb.csv")

In [2]:
df_airbnb.head()

,room_id,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
0,6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
1,17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
2,25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
3,29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
4,29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0

In [3]:
df_airbnb.dtypes

room_id                   int64
host_id                   int64
room_type                object
neighborhood             object
reviews                   int64
overall_satisfaction    float64
accommodates              int64
bedrooms                float64
price                   float64
dtype: object

En concreto el dataset tiene las siguientes variables:
- room_id: el identificador de la propiedad
- host_id: el identificador del dueño de la propiedad
- room_type: tipo de propiedad (vivienda completa/(habitacion para compartir/habitación privada)
- neighborhood: el barrio de Lisboa
- reviews: El numero de opiniones
- overall_satisfaction: Puntuacion media del apartamento
- accommodates: El numero de personas que se pueden alojar en la propiedad
- bedrooms: El número de habitaciones
- price: El precio (en euros) por noche

## Usando Pandas

### Caso 1.

Alicia va a ir a Lisboa durante una semana con su marido y sus 2 hijos. Están buscando un apartamento con habitaciones separadas para los padres y los hijos. No les importa donde alojarse o el precio, simplemente quieren tener una experiencia agradable. Esto significa que solo aceptan lugares con más de 10 críticas con una puntuación mayor de 4. Cuando seleccionemos habitaciones para Alicia, tenemos que asegurarnos de ordenar las habitaciones de mejor a peor puntuación. Para aquellas habitaciones que tienen la misma puntuación, debemos mostrar antes aquellas con más críticas. Debemos darle 3 alternativas.

In [4]:
import pandas as pd
df_airbnb = pd.read_csv("./data/airbnb.csv",index_col=0)
df_airbnb.head()

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0

In [14]:
filtro = df_airbnb[(df_airbnb['reviews']>10) & (df_airbnb['overall_satisfaction']>4)]
filtro.head()

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0
29720,128075,Entire home/apt,Estrela,14,5.0,16,9.0,1154.0
29872,128698,Entire home/apt,Alcântara,25,5.0,2,1.0,75.0

In [19]:
by_overall_satisfaction = filtro.sort_values('overall_satisfaction', ascending=False)
by_overall_satisfaction.head()

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
44043,192830,Entire home/apt,Santa Maria Maior,316,5.0,7,3.0,80.0
18355475,74171605,Entire home/apt,Misericórdia,14,5.0,6,2.0,79.0
25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
18076114,21980829,Entire home/apt,Santa Maria Maior,14,5.0,4,1.0,67.0
18103988,7910883,Private room,Santa Maria Maior,14,5.0,2,1.0,35.0

### Caso 2

Roberto es un casero que tiene una casa en Airbnb. De vez en cuando nos llama preguntando sobre cuales son las críticas de su alojamiento. Hoy está particularmente enfadado, ya que su hermana Clara ha puesto una casa en Airbnb y Roberto quiere asegurarse de que su casa tiene más críticas que las de Clara. Tenemos que crear un dataframe con las propiedades de ambos. Las id de las casas de Roberto y Clara son 97503 y 90387  respectivamente. Finalmente guardamos este dataframe como excel llamado "roberto.xls

In [35]:
import pandas as pd
df_airbnb = pd.read_csv("./data/airbnb.csv",index_col=0)
df_airbnb.head()

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0

In [61]:
filtro2 = df_airbnb[(df_airbnb['host_id'] == 515924) | (df_airbnb['host_id'] == 490050)]
filtro2.head(2)

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
90387,490050,Private room,Santo António,204,5.0,2,1.0,46.0
97503,515924,Private room,Santo António,39,4.0,2,1.0,26.0

In [65]:
!pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 250.0/250.0 kB 5.3 MB/s eta 0:00:00:00:01
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

In [69]:
filtro2.to_excel("roberto.xls", engine='openpyxl' ,sheet_name='roberto',index=False)
print("Archivo 'roberto.xls' guardado correctamente.")

Archivo 'roberto.xls' guardado correctamente.


### Caso 3

Diana va a Lisboa a pasar 3 noches y quiere conocer a gente nueva. Tiene un presupuesto de 50€ para su alojamiento. Debemos buscarle las 10 propiedades más baratas, dandole preferencia a aquellas que sean habitaciones compartidas *(room_type == Shared room)*, y para aquellas viviendas compartidas debemos elegir aquellas con mejor puntuación.

In [74]:
import pandas as pd
df_airbnb = pd.read_csv("./data/airbnb.csv",index_col=0)
df_airbnb.head()

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
6499,14455,Entire home/apt,Belém,8,5.0,2,1.0,57.0
17031,66015,Entire home/apt,Alvalade,0,0.0,2,1.0,46.0
25659,107347,Entire home/apt,Santa Maria Maior,63,5.0,3,1.0,69.0
29248,125768,Entire home/apt,Santa Maria Maior,225,4.5,4,1.0,58.0
29396,126415,Entire home/apt,Santa Maria Maior,132,5.0,4,1.0,67.0

In [78]:
filtro3 = df_airbnb[(df_airbnb['price'] < 50) & (df_airbnb['room_type'] == 'Shared room')]
filtro3.head(10)

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
286153,1489229,Shared room,Campolide,29,4.5,2,1.0,21.0
697493,3573506,Shared room,Campo de Ourique,0,0.0,10,1.0,18.0
1179457,5799522,Shared room,Santo António,42,4.0,16,1.0,10.0
1365083,6401752,Shared room,Areeiro,51,4.5,4,1.0,18.0
1380975,6855202,Shared room,Santo António,2,0.0,1,1.0,21.0
1830748,9575555,Shared room,Misericórdia,36,4.5,16,1.0,18.0
2376711,11481927,Shared room,São Vicente,7,4.0,4,1.0,31.0
2376715,11481927,Shared room,São Vicente,38,4.5,6,1.0,26.0
2382263,11481927,Shared room,São Vicente,4,5.0,6,1.0,31.0
2557813,13060370,Shared room,Arroios,0,0.0,2,1.0,35.0

In [81]:
puntuacion = filtro3.sort_values('overall_satisfaction', ascending=False)
puntuacion.head(10)

,host_id,room_type,neighborhood,reviews,overall_satisfaction,accommodates,bedrooms,price
room_id,,,,,,,,
11427995,32344156,Shared room,Misericórdia,21,5.0,8,1.0,18.0
11523225,58899339,Shared room,Avenidas Novas,4,5.0,9,1.0,23.0
10397682,32344156,Shared room,Misericórdia,15,5.0,8,1.0,13.0
10172929,52218341,Shared room,Areeiro,17,5.0,1,1.0,20.0
17497074,25913998,Shared room,Arroios,7,5.0,1,1.0,18.0
14719962,40574313,Shared room,Avenidas Novas,4,5.0,4,1.0,13.0
13570032,78249982,Shared room,Misericórdia,8,5.0,10,1.0,48.0
16150682,58899339,Shared room,Avenidas Novas,4,5.0,9,1.0,16.0
12826411,6981742,Shared room,Alvalade,12,5.0,1,1.0,22.0
13078189,72524317,Shared room,Ajuda,7,5.0,2,1.0,21.0